.contact {
  padding: 265px 0 285px;
  background: url("../img/raster/png/contact.png") no-repeat bottom;
}
.contactForm {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact .container {
  display: flex;
  justify-content: flex-end;
}
.contactForm input,
.contactForm textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 50px;
  padding: 10px 0;
  outline: none;
}
.contactForm textarea {
  resize: none;
}
.contactForm__input-wrap {
  display: flex;
  flex-direction: column;
  width: 385px;
}
.contactForm__submit {
  width: 60px;
  text-transform: uppercase;
  font-weight: 800;
  background: transparent;
  border: none;
  font-size: 20px;
}
.contactForm textarea::-webkit-scrollbar {
  width: 0;
}
.contactForm__wrap {
  display: flex;
}
.contact__title {
  margin-left: 0;
}
.social {
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 200px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: 345px;
}
.social__item {
  display: flex;
  height: 100%;
  width: 25%;
}
.social-link {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 0;
}
